header{
    max-width: 960px;
    margin: 0 auto;
    background-image: url(../images/clouseau.jpg);
    height: 300px;
}

main{
    max-width: 960px;
    margin: 0 auto;
    margin-top: 20px;
    padding-left: 10px;
    margin-bottom: 20px;
    border: 1px solid #8D7C73;
}

.title{
    color: white;
    display: flex;
    justify-content: center;
    padding: 40px;
    padding-top: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    text-shadow: 2px 2px 6px #000000;
}

.subtitle{
    color: white;
    display: flex;
    justify-content: center;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    text-shadow: 2px 2px 6px #2C252B;
}

h2{
    color: #D7AE79;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}

ul{
    color: #08d;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

p{
    color: #0088DD;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

footer{
    background-color: #F4EBE0;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    max-width: 960px;
    margin: 0 auto;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}